<!- Two different sections for camp readiness and medical/registration form->

<div class="wrapper">
<h2>Camp Readiness</h2>
  <div class="border"></div>


<!- Asking authorized guardian/parent to fully read PDF ->

<p>While camps are open to children as young as age five, some children are not yet ready for camp. Please make sure your camper is ready by asking yourself the following:</p> 
<ul>
	<li>Is my child able to change his or her own clothing? </li>
	<li>Is my child able to tend to personal needs such as toileting and eating? Camp staff is not able to assist with personal needs.</li>
	<li>Will my child generally follow simple directions and rules in a structured setting? Most rules are set to ensure the safety of all campers, and children must be able to follow these rules.</li> 
	<li>Does my child still need a nap every day? We are not able to provide naptime. The half-day camp is best for those who still need a daily nap. </li>
</ul>
<p>Due to liability reasons, camp staff is instructed to not assist children in changing their clothing for any reason. We encourage our staff and parents to resolve most concerns by working together. In order to be fully preprared please read the PDF with all camp readiness requirements. <p>
	<%= link_to "Requirements PDF", "2017-camp-recky-parent-guide-final.pdf", :class => "button btn striped-shadow dark", :target => "_blank" %>

<h2>Camper Readiness</h2>
<div class="border"></div>
<p>Please make sure to have the all medical and registration forms completed prior to the camper's first day of attendance. Below you will find health information form and the Camp Recky registration. Please mail the forms to:  </p>
<p><%= image_tag("home icon.png", :alt => "home icon", :class => "iconography home" ) %> <p>Camp Recky 337 W. 17th Ave.<br> B149 RPAC Columbus, OH 43210  </p>
	<%= link_to "Medical PDF", "camp-recky-health-form-2017.pdf", :class => "button btn striped-shadow dark", :target => "_blank" %><br><br>
	<%= link_to "Registration PDF", "camp-recky-registration-form-2017.pdf", :class => "button btn striped-shadow dark", :target => "_blank" %>

</div>

