<h2 id="enr">Enroll 2017</h2>
<div class="wrapper2">
<h4>Clicking below will prompt you to sign up, then you will be directed a registration form. </h4>

<p>Once you complete the registration form, you will be able to place your child in camp wait lists. To be added to the official enrollment list, we must receive a completed medical form. </p>

<%= link_to 'Begin', new_camper_path %>
</div>

